# 4.8: Grouping Data & Aggregating Variables

## Contents List

#### 1. Course Exercise

#### 2. Find the aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe

#### 3. Analyze the result.

#### 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

#### 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified.

#### 6. The team now wants to target different types of spenders in their marketing campaigns. Create a spending flag for each user based on the average price across all their orders using the following criteria:
- 6-1. If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
- 6-2. If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

#### 7. In order to send relevant notifications to users within the app, the Instacart team wants you to determine frequent versus non-frequent customers. 
- Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

   - 7-1. If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
   - 7-2. If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.
   - 7-3. If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”
     
     
#### 8. Ensure your notebook is clean and structured and that your code is well commented.

#### 9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

** **

### Question 1. Course Exercise

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Set path

path = r"C:\Users\mehrn\OneDrive\Desktop\CareerFoundry Materials\Tasks\Python\10-01-23 Instacart Basket Analysis"

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'merged_ords_prods_update.pkl'))

In [4]:
df = ords_prods_merge[:1000000]

In [5]:
# Checking the first-10m-row subset 

df.shape

(1000000, 19)

In [6]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,-1.0,True,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Most orders
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,two slowest days,Most orders
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,two slowest days,Most orders
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,two slowest days,Most orders
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,two slowest days,Most orders

In [7]:
# Group df dataframe by product_name column

df.groupby('product_name')

In [8]:
# Aggregating Data with agg()


df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                19.760830
4                20.448980
5                16.789491
7                17.343235
9                19.046148
11               18.425451
13               20.552522
14               16.820264
15               18.335691
18               17.381589
21               18.871614

In [9]:
# Using SQUARE BRACKETS syntaxt

df.groupby('department_id')['order_number'].mean()

department_id
1     19.760830
4     20.448980
5     16.789491
7     17.343235
9     19.046148
11    18.425451
13    20.552522
14    16.820264
15    18.335691
18    17.381589
21    18.871614
Name: order_number, dtype: float64

In [10]:
# Using DOT NOTATION syntax

df.groupby('department_id').order_number.mean()

department_id
1     19.760830
4     20.448980
5     16.789491
7     17.343235
9     19.046148
11    18.425451
13    20.552522
14    16.820264
15    18.335691
18    17.381589
21    18.871614
Name: order_number, dtype: float64

In [11]:
# Performing Multiple Aggregations

df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                19.760830   1  99
4                20.448980   1  99
5                16.789491   1  99
7                17.343235   1  99
9                19.046148   1  99
11               18.425451   1  99
13               20.552522   1  99
14               16.820264   1  99
15               18.335691   1  99
18               17.381589   1  99
21               18.871614   1  99

In [12]:
#Aggregating Data with transform()

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,-1.0,True,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Most orders,10
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,two slowest days,Most orders,10
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,two slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,two slowest days,Most orders,10
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,two slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Most orders,10
6,550135,1,7,1,9,20.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,two busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,False,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,two busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196.0,4.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,two busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,two slowest days,Most orders,10
10,2968173,15,15,1,9,7.0,False,196.0,2.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,two busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,False,196.0,6.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Most orders,22
12,1911383,15,18,2,11,7.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Most orders,22
13,2715276,15,21,1,9,7.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,two busiest days,Most orders,22
14,487368,15,22,1,10,14.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,two busiest days,Most orders,22

In [14]:
#Deriving Columns with loc()

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
# Return the first 60 rows of only the “user_id,” “loyalty_flag,” and “order_number” columns

ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

### Question 2. Find the aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe

In [16]:
# Aggregated mean of the “order_number” column grouped by “department_id” for the entire dataset

ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     17.388921
2     17.991487
3     16.783736
4     17.936266
5     17.323918
6     17.377502
7     17.239226
8     16.986574
9     16.879537
10    16.803074
11    17.199135
12    16.573600
13    16.819994
14    16.959694
15    16.751834
16    17.173734
17    16.886755
18    17.240098
19    16.938727
20    17.044009
21    17.740351
Name: order_number, dtype: float64

In [17]:
# Second solution for aggregated mean of order_number

ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                17.388921
2                17.991487
3                16.783736
4                17.936266
5                17.323918
6                17.377502
7                17.239226
8                16.986574
9                16.879537
10               16.803074
11               17.199135
12               16.573600
13               16.819994
14               16.959694
15               16.751834
16               17.173734
17               16.886755
18               17.240098
19               16.938727
20               17.044009
21               17.740351

### Question 3. Analyze the result.
Subsetting the first 1 milion rows is not a good idea as we can see the results for entire dataframe are too different from the sample that we chose. It seems the data has been skewed in the sample as the results range between ~16-20.5 while in the entire dataframe is mostly around 17.

### Question 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions. 
Done while Answerering Question 1

### Question 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified.

In [18]:
# imputing inf values in 'prices' column

ords_prods_merge['prices'].replace([np.inf, -np.inf], 99999, inplace=True)
#ords_prods_merge['prices'].replace([np.inf, -np.inf], np.nan, inplace=True)

In [19]:
# Descriptive analysis for loyalty_flag column

ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                 prices
                   mean  min  max
loyalty_flag
Loyal customer      NaN  1.0  inf
New customer        NaN  1.0  inf
Regular customer    NaN  1.0  inf

### Question 6. The team now wants to target different types of spenders in their marketing campaigns. Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [20]:
# Finding the average price across all users to define the different types of spenders

ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [21]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,2539329,1,1,2,8,-1.0,True,196.0,1.0,0.0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Most orders,10,New customer,7.894531
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,...,7,9.0,both,Mid-range product,Regularly busy,two slowest days,Most orders,10,New customer,7.894531
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,...,7,9.0,both,Mid-range product,Regularly busy,two slowest days,Most orders,10,New customer,7.894531
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,...,7,9.0,both,Mid-range product,Least busy,two slowest days,Most orders,10,New customer,7.894531
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,...,7,9.0,both,Mid-range product,Least busy,two slowest days,Most orders,10,New customer,7.894531
5,3367565,1,6,2,7,19.0,False,196.0,1.0,1.0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Most orders,10,New customer,7.894531
6,550135,1,7,1,9,20.0,False,196.0,1.0,1.0,...,7,9.0,both,Mid-range product,Regularly busy,two busiest days,Most orders,10,New customer,7.894531
7,3108588,1,8,1,14,14.0,False,196.0,2.0,1.0,...,7,9.0,both,Mid-range product,Regularly busy,two busiest days,Most orders,10,New customer,7.894531
8,2295261,1,9,1,16,0.0,False,196.0,4.0,1.0,...,7,9.0,both,Mid-range product,Regularly busy,two busiest days,Most orders,10,New customer,7.894531
9,2550362,1,10,4,8,30.0,False,196.0,1.0,1.0,...,7,9.0,both,Mid-range product,Least busy,two slowest days,Most orders,10,New customer,7.894531
10,2968173,15,15,1,9,7.0,False,196.0,2.0,0.0,...,7,9.0,both,Mid-range product,Regularly busy,two busiest days,Most orders,22,Regular customer,7.097656
11,1870022,15,17,2,16,8.0,False,196.0,6.0,1.0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Most orders,22,Regular customer,7.097656
12,1911383,15,18,2,11,7.0,False,196.0,1.0,1.0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Most orders,22,Regular customer,7.097656
13,2715276,15,21,1,9,7.0,False,196.0,1.0,1.0,...,7,9.0,both,Mid-range product,Regularly busy,two busiest days,Most orders,22,Regular customer,7.097656
14,487368,15,22,1,10,14.0,False,196.0,1.0,1.0,...,7,9.0,both,Mid-range product,Regularly busy,two busiest days,Most orders,22,Regular customer,7.097656
15,2293453,19,2,5,14,6.0,False,196.0,3.0,0.0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Most orders,9,New customer,8.617188
16,1973799,19,5,6,12,8.0,False,196.0,15.0,1.0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Most orders,9,New customer,8.617188
17,532817,19,7,4,17,6.0,False,196.0,1.0,1.0,...,7,9.0,both,Mid-range product,Least busy,two slowest days,Most orders,9,New customer,8.617188
18,1573906,21,10,3,10,6.0,False,196.0,2.0,0.0,...,7,9.0,both,Mid-range product,Regularly busy,two slowest days,Most orders,33,Regular customer,7.183594
19,1593000,31,10,3,8,7.0,False,196.0,17.0,0.0,...,7,9.0,both,Mid-range product,Regularly busy,two slowest days,Most orders,20,Regular customer,7.214844

In [22]:
# Defining spender's behavior column

ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [23]:
ords_prods_merge['spending_flag'].value_counts()

Low spender     30635864
High spender      106119
Name: spending_flag, dtype: int64

In [24]:
ords_prods_merge.tail(15)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
32312441,1144638,200365,22,1,21,3.0,False,249.0,4.0,1.0,...,2.699219,both,Low-range product,Regularly busy,two busiest days,Average orders,49,Loyal customer,7.402344,Low spender
32312442,2687143,200365,32,2,15,4.0,False,249.0,5.0,1.0,...,2.699219,both,Low-range product,Regularly busy,Regularly days,Most orders,49,Loyal customer,7.402344,Low spender
32312443,1677580,170359,18,6,16,2.0,False,504.0,14.0,0.0,...,13.101562,both,Mid-range product,Regularly busy,Regularly days,Most orders,25,Regular customer,6.964844,Low spender
32312444,3271821,193073,8,2,10,3.0,False,504.0,5.0,0.0,...,13.101562,both,Mid-range product,Regularly busy,Regularly days,Most orders,24,Regular customer,NaN,NaN
32312445,2755833,199610,5,3,15,24.0,False,504.0,18.0,0.0,...,13.101562,both,Mid-range product,Regularly busy,two slowest days,Most orders,12,Regular customer,7.457031,Low spender
32312446,2552276,203632,3,2,17,30.0,False,504.0,12.0,0.0,...,13.101562,both,Mid-range product,Regularly busy,Regularly days,Most orders,13,Regular customer,7.671875,Low spender
32312447,403867,174787,2,2,9,8.0,False,3426.0,7.0,0.0,...,2.400391,both,Low-range product,Regularly busy,Regularly days,Most orders,21,Regular customer,NaN,NaN
32312448,3091693,181280,1,5,13,-1.0,True,1389.0,3.0,0.0,...,4.699219,both,Low-range product,Regularly busy,Regularly days,Most orders,3,New customer,5.687500,Low spender
32312449,1733212,181280,2,3,11,30.0,False,1389.0,2.0,1.0,...,4.699219,both,Low-range product,Regularly busy,two slowest days,Most orders,3,New customer,5.687500,Low spender
32312450,2691093,188826,3,3,14,2.0,False,1389.0,3.0,0.0,...,4.699219,both,Low-range product,Regularly busy,two slowest days,Most orders,5,New customer,4.703125,Low spender
32312451,1468376,188826,4,5,14,30.0,False,1389.0,3.0,1.0,...,4.699219,both,Low-range product,Regularly busy,Regularly days,Most orders,5,New customer,4.703125,Low spender
32312452,1602138,194719,2,3,14,26.0,False,1389.0,2.0,0.0,...,4.699219,both,Low-range product,Regularly busy,two slowest days,Most orders,5,New customer,7.988281,Low spender
32312453,1025759,191198,37,6,13,3.0,False,1561.0,1.0,0.0,...,1.900391,both,Low-range product,Regularly busy,Regularly days,Most orders,94,Loyal customer,NaN,NaN
32312454,1517645,191198,67,6,8,4.0,False,1561.0,3.0,1.0,...,1.900391,both,Low-range product,Regularly busy,Regularly days,Most orders,94,Loyal customer,NaN,NaN
32312455,1104816,198258,14,1,20,4.0,False,1561.0,8.0,0.0,...,1.900391,both,Low-range product,Regularly busy,two busiest days,Average orders,27,Regular customer,7.082031,Low spender

### Question 7. In order to send relevant notifications to users within the app, the Instacart team wants you to determine frequent versus non-frequent customers. 
Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

-If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

-If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

-If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [25]:
# Finding the median in the “days_since_prior_order” column per user. 

ords_prods_merge['order_behavior'] = ords_prods_merge.groupby('user_id')['days_since_prior_order'].transform(np.median)

In [26]:
ords_prods_merge.tail()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,order_behavior
32312451,1468376,188826,4,5,14,30.0,False,1389.0,3.0,1.0,...,both,Low-range product,Regularly busy,Regularly days,Most orders,5,New customer,4.703125,Low spender,23.0
32312452,1602138,194719,2,3,14,26.0,False,1389.0,2.0,0.0,...,both,Low-range product,Regularly busy,two slowest days,Most orders,5,New customer,7.988281,Low spender,26.0
32312453,1025759,191198,37,6,13,3.0,False,1561.0,1.0,0.0,...,both,Low-range product,Regularly busy,Regularly days,Most orders,94,Loyal customer,NaN,NaN,3.0
32312454,1517645,191198,67,6,8,4.0,False,1561.0,3.0,1.0,...,both,Low-range product,Regularly busy,Regularly days,Most orders,94,Loyal customer,NaN,NaN,3.0
32312455,1104816,198258,14,1,20,4.0,False,1561.0,8.0,0.0,...,both,Low-range product,Regularly busy,two busiest days,Average orders,27,Regular customer,7.082031,Low spender,4.0

In [27]:
# Deriving order_frequency_flag column with loc function

ords_prods_merge.loc[ords_prods_merge['order_behavior'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[ (ords_prods_merge['order_behavior'] >10) & (ords_prods_merge['order_behavior'] <= 20), 'order_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['order_behavior'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [28]:
ords_prods_merge.tail()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,order_behavior,order_frequency_flag
32312451,1468376,188826,4,5,14,30.0,False,1389.0,3.0,1.0,...,Low-range product,Regularly busy,Regularly days,Most orders,5,New customer,4.703125,Low spender,23.0,Non-frequent customer
32312452,1602138,194719,2,3,14,26.0,False,1389.0,2.0,0.0,...,Low-range product,Regularly busy,two slowest days,Most orders,5,New customer,7.988281,Low spender,26.0,Non-frequent customer
32312453,1025759,191198,37,6,13,3.0,False,1561.0,1.0,0.0,...,Low-range product,Regularly busy,Regularly days,Most orders,94,Loyal customer,NaN,NaN,3.0,Frequent customer
32312454,1517645,191198,67,6,8,4.0,False,1561.0,3.0,1.0,...,Low-range product,Regularly busy,Regularly days,Most orders,94,Loyal customer,NaN,NaN,3.0,Frequent customer
32312455,1104816,198258,14,1,20,4.0,False,1561.0,8.0,0.0,...,Low-range product,Regularly busy,two busiest days,Average orders,27,Regular customer,7.082031,Low spender,4.0,Frequent customer

In [29]:
# Order frequency check

ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        22734923
Regular customer          6899985
Non-frequent customer     2677548
Name: order_frequency_flag, dtype: int64

### Question 8. Ensure your notebook is clean and structured and that your code is well commented.

### Question 9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [32]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'Aggregated_ords_prods.pkl'))